## How to delete columns
stack link: https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe

In [2]:
import pandas as pd
import numpy as np

###  Data preparation

In [5]:
raw_data = {'name': ['Amy', 'Bob', 'Carol'], 
        'age': [23,35,46], 
        'score': [66.7,83.4,76.5]}
df = pd.DataFrame(raw_data)
df

    name  age  score
0    Amy   23   66.7
1    Bob   35   83.4
2  Carol   46   76.5

### Using [drop()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [6]:
df.drop('name', 1)
# where 1 is the axis number (0 for rows and 1 for columns.)

   age  score
0   23   66.7
1   35   83.4
2   46   76.5