## How to get the row count

In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = {'name': ['Amy', 'Bob', 'Carol'], 
        'age': [23,35,46], 
        'score': [66.7,83.4,76.5]}
df = pd.DataFrame(raw_data)
df

    name  age  score
0    Amy   23   66.7
1    Bob   35   83.4
2  Carol   46   76.5

### 1. Using shape

In [3]:
df.shape[0]

3

### 2. Using len()

In [4]:
len(df)

3