In [1]:
import pandas as pd
import numpy as np

In [2]:
c

    name  age  score
0    Amy   23   66.7
1    Bob   35   83.4
2  Carol   46   76.5

## 1. Using df selector

In [5]:
cols = df.columns.tolist()
cols

['name', 'age', 'score']

In [8]:
df[cols[:-1]+cols[-1:]]

    name  age  score
0    Amy   23   66.7
1    Bob   35   83.4
2  Carol   46   76.5

## 2. Using reindex()

In [10]:
df.reindex(['score', 'age', 'name'], axis = 1)

   score  age   name
0   66.7   23    Amy
1   83.4   35    Bob
2   76.5   46  Carol