## How to rename columns in Pandas

In [2]:
import pandas as pd
import numpy as np

### 0. Data preparation

In [25]:
raw_data = {'#name': ['Amy', 'Bob', 'Carol'], 
        '#age': [23,35,46], 
        '#score': [66.7,83.4,76.5]}
df = pd.DataFrame(raw_data)
df

   #name  #age  #score
0    Amy    23    66.7
1    Bob    35    83.4
2  Carol    46    76.5

### 1. Direct assign with .columns

In [26]:
new_df = df.copy()
new_df.columns = ['@name', '@age', '@score']
new_df

   @name  @age  @score
0    Amy    23    66.7
1    Bob    35    83.4
2  Carol    46    76.5

### 2.  df.rename()  -- don't have to rename all columns

In [28]:
new_df = df.copy()
new_df.rename(columns={'#name': '@name', '#score': '@score'}, inplace = True)
new_df

   @name  #age  @score
0    Amy    23    66.7
1    Bob    35    83.4
2  Carol    46    76.5

### 3. df.rename() + lambda  -- when you need to replace characters

In [30]:
new_df = df.copy()
new_df.rename(columns=lambda x: x.replace('#', ''), inplace = True)
new_df

    name  age  score
0    Amy   23   66.7
1    Bob   35   83.4
2  Carol   46   76.5